@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Lab_TW.Models.LoginData

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="login_box_img">
                <div class="hover">
                    <h4>New to our website?</h4>
                    <p>There are advances being made in science and technology every day, and a good example of this is the</p>
                    <a class="button button-account" href="@Url.Action("Register", "Account")">Create an Account</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="login_form_inner">
                <h3>Log in to enter</h3>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login_form", id = "contactForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-12 form-group">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="creat_account">
                            @Html.CheckBoxFor(m => m.RememberMe, new { id = "RememberMe" })
                            <label for="RememberMe">Запомнить меня</label>
                        </div>
                    </div>

                    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="col-md-12 form-group text-center">
                            <span class="text-danger">@ViewBag.ErrorMessage</span>
                        </div>
                    }
              
                    <div class="col-md-12 form-group">
                        <button type="submit" class="button button-login w-100">Log In</button>
                        <a href="ForgotPassword">Forgot Password?</a>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
            </div>
        </div>
    </div>
</div>
