@model Lab_TW.Models.RegisterData
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <!-- Оставляем левую часть как есть, если вам это нравится -->
        </div>
        <div class="col-lg-6">
            <div class="login_form_inner register_form_inner">
                <h3>Create an account</h3>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register_form", @class = "row login_form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-12 form-group">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 form-group">
                        @Html.PasswordFor(m => m.AcceptPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.AcceptPassword, "", new { @class = "text-danger" })
                    </div>

                    if (!string.IsNullOrEmpty(ViewBag.ErrorPassword))
                    {
                        <span class="text-danger">@ViewBag.ErrorPassword</span>
                    }
                    @*<div class="col-md-12 form-group">
                            <div class="creat_account">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <label for="@Html.IdFor(m => m.RememberMe)">Keep me logged in</label>
                            </div>
                        </div>*@
                    <div class="col-md-12 form-group">
                        <button type="submit" class="button button-register w-100">Register</button>
                    </div>
                }

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

