

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row total_rate">
                        <div class="col-6">
                            <div class="box_total">
                                <h5>Overall</h5>
                                <h4>@Model.OrderPr.Average(x => x.AverageRating)</h4>
                                <h6>(@Model.OrderPr.Count) Reviews</h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rating_list">
                                <h3>Based on @Model.OrderPr.Count Reviews</h3>
                                <ul class="list">
                                    @foreach (var feedback in Model.OrderPr)
                                    {
                                        <li>
                                            <a href="#">
                                                @feedback.Rating Star @Html.Raw(string.Concat(Enumerable.Repeat("<i class='fa fa-star'></i>", feedback.Rating)))
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="review_list">
                        @foreach (var review in Model.OrderPr)
                        {
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="@review.ImageUrl" alt="@review.Product.Name">
                                    </div>
                                    <div class="media-body">
                                        <h4>@review.UDbTable.Username</h4>
                                        @for (int i = 0; i < review.Rating; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        <p>@review.Feedback</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="review_box">
                        <h4>Add a Review</h4>
                        <p>Your Rating:</p>
                        <ul class="list">
                            <li><a href="#" class="star" data-rating="1"><i class="fa fa-star"></i></a></li>
                            <li><a href="#" class="star" data-rating="2"><i class="fa fa-star"></i></a></li>
                            <li><a href="#" class="star" data-rating="3"><i class="fa fa-star"></i></a></li>
                            <li><a href="#" class="star" data-rating="4"><i class="fa fa-star"></i></a></li>
                            <li><a href="#" class="star" data-rating="5"><i class="fa fa-star"></i></a></li>
                        </ul>
                        <p class="rating-text">Outstanding</p>
                        <form action="#" class="form-contact form-review mt-3">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email" type="email" placeholder="Enter email address" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="subject" type="text" placeholder="Enter Subject">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control different-control w-100" name="textarea" id="textarea" cols="30" rows="5" placeholder="Enter Message"></textarea>
                            </div>
                            <div class="form-group text-center text-md-right mt-3">
                                <input type="hidden" name="rating">
                                <button type="submit" class="button button--active button-review">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    // Обработка события нажатия на звезду рейтинга
    $('.star').click(function (e) {
        e.preventDefault();
        var rating = $(this).data('rating');
        $('.star').removeClass('selected').addClass('not-selected');
        $(this).prevAll('.star').addBack().removeClass('not-selected').addClass('selected');
        $('.rating-text').text(getRatingText(rating));
        $('input[name="rating"]').val(rating); // Записываем выбранный рейтинг в скрытое поле формы
        console.log('Selected rating:', rating); // Отладочный вывод в консоль
    });

    // Функция для получения текста рейтинга
    function getRatingText(rating) {
        switch (rating) {
            case 1:
                return 'Poor';
            case 2:
                return 'Fair';
            case 3:
                return 'Average';
            case 4:
                return 'Good';
            case 5:
                return 'Excellent';
            default:
                return '';
        }
    }


    <script>
    $(document).ready(function () {
        // Обработка события нажатия на звезду рейтинга
        $('.star').click(function (e) {
            e.preventDefault();
            var rating = $(this).data('rating');
            $('.star').removeClass('selected').addClass('not-selected');
            $(this).prevAll('.star').addBack().removeClass('not-selected').addClass('selected');
            $('.rating-text').text(getRatingText(rating));
            $('input[name="rating"]').val(rating); // Записываем выбранный рейтинг в скрытое поле формы
            console.log('Selected rating:', rating); // Отладочный вывод в консоль
        });

        // Функция для получения текста рейтинга
        function getRatingText(rating) {
            switch (rating) {
                case 1:
                    return 'Poor';
                case 2:
                    return 'Fair';
                case 3:
                    return 'Average';
                case 4:
                    return 'Good';
                case 5:
                    return 'Excellent';
                default:
                    return '';
            }
        }

        // Обработка события отправки формы
        $('.form-review').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize(); // Сериализуем данные формы
            var productId = parseInt('@Model.Products.Id');

            formData += '&productId=' + productId; // Добавляем идентификатор продукта к данным формы
            console.log('Form data:', formData); // Отладочный вывод в консоль
            // Отправляем данные на сервер (выполните AJAX-запрос с помощью jQuery или другой библиотеки)
            // Например:
            $.ajax({
                url: '/Product/SingleProduct',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Обработка успешного ответа
                },
                error: function () {
                    // Обработка ошибки
                }
            });
        });
    });
</script>

<style>
    /* Задаем стили для пустых звезд */
    .star {
        color: white; /* Белый цвет */
    }

        /* Задаем стили для звезд с выбранной оценкой (желтый цвет) */
        .star.selected {
            color: yellow; /* Желтый цвет */
        }

        /* Задаем стили для не выбранных звезд */
        .star.not-selected {
            color: white; /* Белый цвет */
        }
</style>
