@model List<Lab_TW.Models.Product>
@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_LayoutCategory.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    <li class="common-filter">
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="laptops" name="category"><label for="laptops">Ноутбуки</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="smartphones" name="category"><label for="smartphones">Смартфоны</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="tablets" name="category"><label for="tablets">Планшеты</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="cameras" name="category"><label for="cameras">Фотокамеры</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="televisions" name="category"><label for="televisions">Телевизоры</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="headphones" name="category"><label for="headphones">Наушники</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="gamingConsoles" name="category"><label for="gamingConsoles">Игровые приставки</label></li>

                            </ul>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="sidebar-filter">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">Brands</div>
                    <form action="#">
                        <ul>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple</label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus</label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee</label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax</label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung</label></li>
                        </ul>
                    </form>
                </div>

                <div class="common-filter">
                    <div class="head">Price</div>
                    <div class="price-range-area">
                        <div id="price-range"></div>
                        <div class="value-wrapper d-flex">
                            <div class="price">Price:</div>
                            <span>$</span>
                            <div id="lower-value"></div>
                            <div class="to">to</div>
                            <span>$</span>
                            <div id="upper-value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select id="sortingSelect">
                        <option value="default">Сортировка по умолчанию</option>
                        <option value="priceAsc">Цена (по возрастанию)</option>
                        <option value="priceDesc">Цена (по убыванию)</option>
                        <option value="nameAsc">Название (A-Z)</option>
                        <option value="nameDesc">Название (Z-A)</option>
                    </select>
                </div>
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 5</option>
                        <option value="1">Show 10</option>
                        <option value="1">Show 15</option>
                    </select>
                </div>
                <div>
                    <div class="input-group filter-bar-search">
                        <input type="text" placeholder="Search">
                        <div class="input-group-append">
                            <button type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="@Url.Content(product.ImageUrl)" alt="@product.Name">
                                    <ul class="card-product__imgOverlay">
                                        <li>
                                            <form class="add-to-cart-form">
                                                <input type="hidden" name="productId" value="@product.Id" />
                                                <button type="button" class="add-to-cart-btn">
                                                    <i class="ti-shopping-cart"></i> Добавить в корзину
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>@product.Category</p>
                                    <h4 class="card-product__title">
                                        <a href="@Url.Action("SingleProduct", "Product", new { productId = product.Id })">@product.Name</a>
                                    </h4>
                                    <p class="card-product__price">$@product.Price.ToString("F2")</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
            <!-- End Best Seller -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Обработчик изменения категории
        $('input[name="category"]').change(function () {
            filterProducts();
        });

        // Обработчик изменения бренда
        $('input[name="brand"]').change(function () {
            filterProducts();
        });

        $('#lower-value, #upper-value').on('input', filterProducts);


        // Функция для отправки AJAX-запроса на контроллер
        function filterProducts() {

            var category = $('input[name="category"]:checked').next('label').text(); // Получаем текст метки выбранной категории

            var brand = $('input[name="brand"]:checked').next('label').text(); // Получаем текст метки выбранного бренда
            var lowerPrice = parseFloat($('#lower-value').html()); // Получаем нижнюю границу цены
            var upperPrice = parseFloat($('#upper-value').html()); // Получаем верхнюю границу цены

            $.ajax({
                url: '@Url.Action("FilterProducts", "Product")',
                type: 'POST',
                data: { category: category, brand: brand, lowerPrice: lowerPrice, upperPrice: upperPrice }, // Добавляем информацию о диапазоне цены
                success: function (response) {
                    if (response.success) {
                        // Удаляем текущие элементы списка продуктов
                        $('.category-list .row').empty();

                        // Генерируем HTML-код для каждого продукта из полученных данных JSON
                        $.each(response.filteredProducts, function (index, product) {
                            var productHtml = '<div class="col-md-6 col-lg-4 col-xl-3">';
                            productHtml += '<div class="card text-center card-product">';
                            productHtml += '<div class="card-product__img">';
                            productHtml += '<img class="card-img" src="' + product.ImageUrl + '" alt="' + product.Name + '">';
                            productHtml += '<ul class="card-product__imgOverlay">';
                            productHtml += '<li>';
                            productHtml += '<form class="add-to-cart-form">';
                            productHtml += '<input type="hidden" name="productId" value="' + product.Id + '" />';
                            productHtml += '<button type="button" class="add-to-cart-btn">';
                            productHtml += '<i class="ti-shopping-cart"></i> Добавить в корзину';
                            productHtml += '</button>';
                            productHtml += '</form>';
                            productHtml += '</li>';
                            productHtml += '</ul>';
                            productHtml += '</div>';
                            productHtml += '<div class="card-body">';
                            productHtml += '<p>' + product.Category + '</p>';
                            productHtml += '<h4 class="card-product__title">';
                            productHtml += '<a href="/Product/SingleProduct?productId=' + product.Id + '">' + product.Name + '</a>';
                            productHtml += '</h4>';
                            productHtml += '<p class="card-product__price">$' + product.Price.toFixed(2) + '</p>';
                            productHtml += '</div>';
                            productHtml += '</div>';
                            productHtml += '</div>';
                            // Добавляем новый продукт в список
                            $('.category-list .row').append(productHtml);
                        });
                    } else {
                        console.error(response.errorMessage);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

    });
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.add-to-cart-btn').click(function (e) {
            e.preventDefault(); // Предотвращаем стандартное действие отправки формы

            var productId = $(this).closest('form').find('input[name="productId"]').val();

            // Отправляем AJAX запрос на сервер
            $.ajax({
                url: '/Product/AddProductToCart', // Замените на URL вашего метода контроллера для добавления в корзину
                method: 'POST',
                data: { productId: productId, quantity: 1 },
                success: function (response) {
                    alert('Товар успешно добавлен в корзину!');
                    // Можно выполнить дополнительные действия после успешного добавления
                },
                error: function () {
                    alert('Ошибка при добавлении товара в корзину.');
                }
            });
        });
    })
            };
</script>

